.weather_form {
    display: flex;
}
.middle_temp {
    border-color: #e96e50 !important;
    background-image: radial-gradient(#e28d50, #e96e50) !important;
}

.low_temp {
    border-color: #000080 !important;
    background-image: radial-gradient(#00ffff, #000080) !important;
}

.high_temp {
    border-color: #e96e50 !important;
    background-image: radial-gradient(#ff8c00, #e96e50) !important;
}

.btn_middle:hover {
    color: white;
    border-color: #e96e50 !important;
    background-image: radial-gradient(#e28d50, #e96e50) !important;
}